.thisNav {
    background-color: #6495ed;
    display: flex;
    justify-content: end;
    list-style-type: none;
    font-size: 20px;
    font-weight: bold;

}

.thisNav li {
    background-color: #79ed64;
    margin: 10px;
    border-radius: 5px;

}

.thisNav a {
    text-decoration: none;
    color: black;
    /* margin: 10px; */
    box-shadow: inset 0 0 0 0 #000000;
    padding: 0 .25rem;
    margin: 1 -.25rem;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out;
    border-radius: 5px;
}

.thisNav a:hover {
    color: #fff;
    border-radius: 5px;
    box-shadow: inset 200px 0 0 0 #ff0000;;
}

.owner {
    text-align: center;
}

img {
    width:  300px
}

.homehead {
    text-align: center;
}   

.homebutton {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}   

table {
    text-align: center;
}

th {
    background-color: #dcdcdc;
    padding-left: 30px;
    padding-right: 30px;
    border: solid 2px black;
}